body {
    padding: 40px;
    background: #ddd;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

button {
    margin-top: 20px;
}

.col {
    float: left;
    width: 33%;
}

.label {
    font-weight: bold;
    font-size: 15px;
}

.load-averages {
    width: 200px;
    float: left;
    background: #cdcdcd;
    padding: 20px;
    margin: 20px;
    position: absolute;
    top: 150px;
    left: 0;
    height: 280px;
}

.load-averages .statistic {
    margin-bottom: 20px;
}

.ram-totals {
    width: 200px;
    float: left;
    background: #cdcdcd;
    padding: 20px;
    margin: 20px;
    position: absolute;
    top: 150px;
    left: 241px;
    height: 280px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axit text {
    font-size: 8px;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.0px;
}

.line-0 {
  stroke: steelblue;
}

.line-1 {
  stroke: red;
}

.line-2 {
  stroke: green;
}

svg {
    background: #ccc;
    border: 1px solid black;
}

.ram-chart {
    position: absolute;
    top: 48px;
    left: 276px;
}