<multiLineChart
    class="averages-chart"
    values="values1">
</multiLineChart>
<multiLineChart
    class="ram-chart"
    values="values2">
</multiLineChart>
<div class="load-averages">
    <h3 class="title">Load Averages</h3>
    <div class="label">1 Minute</div>
    <div class="statistic">{{oneMinuteLoadAverage}}</div>
    <div class="label">5 Minute</div>
    <div class="statistic">{{fiveMinuteLoadAverage}}</div>
    <div class="label">15 Minute</div>
    <div class="statistic">{{fifteenMinuteLoadAverage}}</div>
</div>
<div class="ram-totals">
    <h3 class="title">RAM Usage Totals</h3>
    <div class="label">In Machine</div>
    <div class="statistic">{{totalRAMInMachine}}</div>
    <div class="label">Used</div>
    <div class="statistic">{{totalRAMused}}</div>
    <div class="label">Free</div>
    <div class="statistic">{{totalRAMFree}}</div>
<!--     <div class="label">Shared</div>
    <div class="statistic">{{totalRAMShared}}</div> -->
    <div class="label">Buffered</div>
    <div class="statistic">{{totalRAMBuffered}}</div>
    <div class="label">Cached Memory</div>
    <div class="statistic">{{totalCachedMemory}}</div>
</div>
